body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0b1522;
}

@keyframes heart{
    0%{
        transform: rotate(-45deg) scale(1.07);
    }
    80%{
        transform: rotate(-45deg) scale(1.0);
    }
    100%{
        transform: rotate(-45deg) scale(.07);
        
    }

}

@keyframes colorChange {
    0%{
        background-color: #ffdae0;
        box-shadow: -10px -10px 90px #ffdae0;
    }
    20%{
        background-color: #fb99b1;
        box-shadow: -10px -10px 90px #fb99b1;
    }
    40%{
        background-color: #f74c7b;
        box-shadow: -10px -10px 90px #f74c7b;
    }
    60%{
        background-color: #f20044;
        box-shadow: -10px -10px 90px #f20044;
    }
    80%{
        background-color: #f74c7b;
        box-shadow: -10px -10px 90px #f74c7b;
    }
    100%{
        background-color: #fb99b1;
        box-shadow: -10px -10px 90px #fb99b1;
    }
}

.heart{
    height: 70px;
    width: 70px;
    background-color: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 0.7s linear infinite, colorChange 3s infinite;
}

.heart:before{
    content: '';
    height: 70px;
    width: 70px;
    background-color: #f20044;
    position: absolute;
    border-radius: 50px;
    top: -50%;
    box-shadow: -10px -10px 90px #f20044;
    animation: colorChange 3s infinite;
    
}

.heart:after{
    content: '';
    height: 70px;
    width: 70px;
    background-color: #f20044;
    position: absolute;
    border-radius: 50px;
    right: -50%;
    box-shadow: 10px -10px 90px #f20044;
    animation: colorChange 3s infinite;
}